<a href="https://colab.research.google.com/github/alonsosilvaallende/BanditColonelBlotto/blob/master/Download_pbc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import statsmodels.api as sm

In [2]:
df_raw = sm.datasets.get_rdataset('pbc', 'survival').data
df_raw.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/datasets/utils.py:185: FutureWarning: `item` has been deprecated and will be removed in a future version
  return dataset_meta["Title"].item()

   id  time  status  trt        age  ...     ast   trig  platelet  protime  stage
0   1   400       2  1.0  58.765229  ...  137.95  172.0     190.0     12.2    4.0
1   2  4500       0  1.0  56.446270  ...  113.52   88.0     221.0     10.6    3.0
2   3  1012       2  1.0  70.072553  ...   96.10   55.0     151.0     12.0    4.0
3   4  1925       2  1.0  54.740589  ...   60.63   92.0     183.0     10.3    4.0
4   5  1504       1  2.0  38.105407  ...  113.15   72.0     136.0     10.9    3.0

[5 rows x 20 columns]

In [3]:
len(df_raw)

418

In [0]:
df_no_nans = df_raw.dropna()

In [5]:
df_no_nans = df_no_nans.drop('id', axis=1)
df_no_nans.head()

   time  status  trt        age sex  ...     ast   trig  platelet  protime  stage
0   400       2  1.0  58.765229   f  ...  137.95  172.0     190.0     12.2    4.0
1  4500       0  1.0  56.446270   f  ...  113.52   88.0     221.0     10.6    3.0
2  1012       2  1.0  70.072553   m  ...   96.10   55.0     151.0     12.0    4.0
3  1925       2  1.0  54.740589   f  ...   60.63   92.0     183.0     10.3    4.0
4  1504       1  2.0  38.105407   f  ...  113.15   72.0     136.0     10.9    3.0

[5 rows x 19 columns]

In [6]:
len(df_no_nans)

276

In [0]:
df_no_nans['status'] = df_no_nans['status'] == 2

In [0]:
df_no_nans.to_csv("pbc.csv", index=False, mode='w')

In [0]:
from google.colab import files
files.download("pbc.csv")